<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- <property name="LOGS" value="${APP_LOGGING_ROOT:-application-log}/logs" 
		/> <property name="FILE_NAME" value="springboot-liberty-project" /> -->
	<springProfile name="prod">
		<property resource="application.properties" />
	</springProfile>
	<springProfile name="dev">
		<property resource="application-dev.properties" />
	</springProfile>
	<springProfile name="test">
		<property resource="application-test.properties" />
	</springProfile>

	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />

	<!-- You can override this to have a custom pattern -->
	<property name="CONSOLE_LOG_PATTERN"
		value=" %d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${springAppName},trace: %X{X-B3-TraceId:-} span: %X{X-B3-SpanId:-}, parent: %X{X-B3-ParentSpanId:-} exportable: %X{X-Span-Export:-},] %m%n%throwable" />

	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				${CONSOLE_LOG_PATTERN}
			</Pattern>
		</layout>
	</appender>

	<appender name="json"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
				<jsonFormatter
					class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
					<!-- prettyPrint is probably ok in dev, but usually not ideal in production: -->
					<prettyPrint>false</prettyPrint>
				</jsonFormatter>
				<!-- <context>api</context> -->
				<timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampFormat>
				<timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
				<appendLineSeparator>true</appendLineSeparator>
			</layout>
		</encoder>
	</appender>

	<logger name="kafka-logger" level="${log.elastic.level}"
		additivity="false">
		<appender name="kafka-appender" class="it.finanze.sanita.fse2.ms.gtw.dispatcher.logging.KafkaAppender">
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>%msg%n</pattern>
			</encoder>

			<topic>${kafka.log.base-topic}</topic>
			<keyingStrategy class="it.finanze.sanita.fse2.ms.gtw.dispatcher.logging.HostNameKeyingStrategy" />
			<deliveryStrategy class="it.finanze.sanita.fse2.ms.gtw.dispatcher.logging.BlockingDeliveryStrategy">
				<timeout>0</timeout>
			</deliveryStrategy>

			<producerConfig>bootstrap.servers=${kafka.bootstrap-servers}</producerConfig>

			<producerConfig>metadata.fetch.timeout.ms=99999999999</producerConfig>
			<producerConfig>metadata.fetch.timeout.ms=0</producerConfig>
			<producerConfig>client.id=${kafka.producer.client-id}</producerConfig>
		</appender>
	</logger>


	<!-- LOG everything at INFO level -->
	<root level="${APP_LOGGING_ROOT_LEVEL:-INFO}">
		<appender-ref ref="${log.output.format}" />
	</root>

</configuration>